<!DOCTYPE html>
<html lang="pt-Br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width='device-width', initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Capa</title>
</head>
<body>

  <section class="section__capa" >
    <h1 class="titulo-so">Lupa: Sistema de Apoio para Avaliação da Usabilidade e Acessibilidade Móvel</h1>
  </section>

  <section class=" clearfix">
    <div class="div_title">
      <h1 class="  titulo-so">Você Sabia ?</h1>
    </div>
    <div class="container-capa clearfix">
        <article class="section__item">
          <h1 class="section__title--secondary">O que é o Lupa?</h1>
          <div class="section__text">
            <p>
              É um sistema idealizado para automatizar o processo de cadastro,
              listagem e geração de relatórios das ocorrências e desempenhos
              escolares de forma simplificada.
            </p>
          </div>
        </article>
        <article class="section__item">
          <h1 class="section__title--secondary">Nosso Objetivo</h1>
          <div class="section__text">
            <p>
              Nosso maior objetivo é proporcionar aos nossos futuros clientes
              um sistema que controle todo o processo de ocorrências e relatórios de
              desempenho escolar de forma prática e segura. Neste sentido,
              estamos trabalhando em um sistema limpo é agil, focado no usuário
              e em suas necessidades.
            </p>
          </div>
        </article>
        <article class="section__item">
          <h1 class="section__title--secondary">Público Alvo</h1>
          <div class="section__text">
            <p>
              Nosso público alvo são as instituições de ensino em seus diversos
              níveis, desde a educação básica ao ensino médio. Dentre estas diversas
              etápas, buscamos as pequenas e medias instituições que necessitam de
              um sistema com baixo custo e alto benefício.
           </p>
          </div>
        </article>
      </div>
      <div class="container_utonium">
        <%= image_tag "prof_utonium.gif", :class => "img_utonium"%>
      </div>
  </section>

  <section id="qsomos" class="section__quemsomos">
    <h1  class="section__titulo--quemsomos titulo-so">Quem somos</h1>
    <div class="container__quemsomos">
      <article class="article__quemsomos clearfix">
          <h1 class="article__titulo--quemsomos">Erick Lino Pedro</h1>
          <div class="container_img_article">
          <%= image_tag "Erick.jpg" , :class=> "img_article"%>
          </div>
          <div class="article__text">
            <p>
              é acadêmico do curso de Tecnologia em Análise e Desenvolvimento de
              Sistemas do Instituto Federal de Educação, Ciência e Tecnologia de
              Mato Grosso do Sul (IFMS), campus Nova Andradina, onde atua como
              aluno pesquisador no Núcleo Interdisciplinar de Pesquisa, Estudo e
              Desenvolvimento em Tecnologia da Informação (NIPETI). Desenvolve
              estudos na área de Engenharia de Software, atuando principalmente
               com Usabilidade de Sistemas.
               mudar123
          </p>
        </div>
    </article>
    <article class="article__quemsomos clearfix">
        <h1 class="article__titulo--quemsomos">Erick Lino Pedro</h1>
        <div class="container_img_article">
        <%= image_tag "Erick.jpg" , :class=> "img_article"%>
        </div>
        <div class="article__text">
          <p>
            é acadêmico do curso de Tecnologia em Análise e Desenvolvimento de
            Sistemas do Instituto Federal de Educação, Ciência e Tecnologia de
            Mato Grosso do Sul (IFMS), campus Nova Andradina, onde atua como
            aluno pesquisador no Núcleo Interdisciplinar de Pesquisa, Estudo e
            Desenvolvimento em Tecnologia da Informação (NIPETI). Desenvolve
            estudos na área de Engenharia de Software, atuando principalmente
             com Usabilidade de Sistemas.
        </p>
      </div>
  </article>
  </div>
</section>

</body>
</html>
