<!DOCTYPE html>
<html lang="pt-Br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width='device-width', initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Capa</title>
</head>
<body>
  <header class="header clearfix">
    <h1 class="logo">
      <span class="logo__icon fa fa-search"></span>
      <span class="logo__text">Lupa</span>
    </h1>
      <nav class="nav">
        <ul class="ul-remove">
          <li class="li"><a href="#"><i class="fa fa-sign-in fa-lg span-nav"></i>TESTE<a/></li>
          <li class="li login"><a href="<%= rails_admin_path%>"><i class="fa fa-sign-in fa-lg span-nav"></i>Login<a/></li>
        </ul>
    </nav>
  </header>
  <section>
    <h1>oi</h1>
    <%= image_tag "prof_utonium.gif"%>
  </section>

























</body>
</html>
