// typography

$titles: h1, h2, h3, h4, h5, h6;

@each $title in $titles {
  #{$title} {
    font-family: $family-one;
    font-size: 1em;
    margin: 0 0 1rem;
  }
}

a {
  color: lighten($black, 5%);
  text-decoration: none;

  &:hover,
  &:focus {
    color: $primary;
  }
}

address {
  font-style: normal;
}

small {
  font-size: 1em;
}

.text--italic {
  font-style: italic;
}

.text--bold {
  font-weight: 700;
}

.text--left {
  text-align: left;
}

.text--right {
  text-align: right;
}

.text--center {
  text-align: center;
}
