<div id="wrapper">
<<<<<<< HEAD
<%= render 'layouts/includes/menu' %>
=======
<%= render 'layouts/menu' %>
>>>>>>> 06bd80de00265842297bfebf74763c7eea639716
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
<<<<<<< HEAD
          <%= render 'form' %>
=======
          <%= render 'question/form' %>
>>>>>>> 06bd80de00265842297bfebf74763c7eea639716
        </div>
      </div>
    </div>
  </div>
</div>
