<link href="../../assets/stylesheets/simple-sidebar.css" rel="stylesheet">
<div id="wrapper">
       <div id="sidebar-wrapper">
           <ul class="sidebar-nav">
               <li class="sidebar-brand">
                   <a href="#">
                    <i class="fa fa-search"></i>   LUPA
                   </a>
               </li>
               <li>
                   <a href="#"><i class="fa fa-desktop fa-lg"></i>   Dispositivos</a>
               </li>
               <li>
                   <a href="#"><i class="fa fa-pencil fa-lg"></i>   Avaliação  </a>
               </li>
               <li>
                   <a href="#"><i class="fa fa-book fa-lg"></i>   Relatório</a>
               </li>
               <li>
                   <a href="#"><%= link_to 'Sair', destroy_user_session_path, method: :delete %></a>
               </li>
           </ul>
       </div>


       <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                  <% if current_user.present? %>
                    <h1 class="centraliza">Seleção de Dispositivos(<%=current_user.email%>)</h1>
                    <%else%>
                    <h1>Seleção de Dispositivos</h1>
                    <% end %>

                    <% @devices.each do |device| %>
                    <div id="divPBaixo"class="coluna-4">
                      <img> <%= image_tag device.phone_img_url(:thumb)%></img>
                      <p><%= device.name %></p>
                      <button type="button" class="btn btn-primary">Avaliar</button>
                    </div>
                   <% end %>

                </div>
            </div>
        </div>
    </div>
     </div>
