<div class="content">
  <div class="page__text text--center">
    <p>
      Estamos a sua disposição para esclarecer dúvidas, receber sugestões, elogios ou críticas. <br>
      Utilize o formulário abaixo para nos enviar uma mensagem.
    </p>

    <p>
      contato@dominio.com.br / (67) 3441-0000
    </p>
  </div>
</div>
