<div class="page">
  <div class="container">
    <div class="page__header">
      <h1 class="page__title">Fale conosco</h1>
      <h2 class="page__caption">Entre em contato conosco por e-mail ou telefone</h2>
    </div>

    <%= render 'text' %>
    <%= render 'form' %>
  </div>
</div>
